@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins;
}

.container{
    max-width: 1128px;
    margin: 0 auto;
}

.menu_bar{
    cursor: pointer;
}

.btn{
    width: 168px;
    height: 47px;
    background-color: #FF136F;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
#header{
    margin-top: 31px;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



#main_content{
    margin-top: 48px;
   
}

#content{
     background-color: #FEEAE9;
    border-radius: 10px;
   
}
.main_content_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px;
    
    
    
}

.text_content{
    max-width: 560px;
    
}
.text_content *{
    margin-bottom: 15px;
}
.text_content h1{
    font-size: 56px
}
.text_content p{
    font-size: 16px;
}
.monitor_img{
    width: 402px;
}
.monitor_img img{
    width: 100%;
}


.text_content h6{
    font-size: 41px;
    color: #FF136F;
}




#Categories{
    margin-top: 60px;
    margin-bottom: 98px;
}
.product{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 24px;
    
}


.product .list h2{
    color: #fff;
}
.product .list{
    display: flex;
    align-items: center;
    width: 359px;
   border-radius: 10px;
    justify-content: space-between;
    padding: 0 30px;
}

.item_img{
    width: 94px;
    height: 94px;
    padding: 10px;
    text-align: center;
}
.item_img img{
    
    height: 100%;
    
}
.watch{
    background: #FF9C35;
}
.bag{
    background: #FF136F;
}
.shoes{
    background: #3F07F8;
}





.shoes_item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
    
}

.list_shoes{
    width: 350px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 4px 4px 0 black;
    
}

.list_shoes *{
    margin-bottom: 10px;
}
.list_shoes .img_shoe{
    width: 90%;
}
.list_shoes .img_shoe img{
    width: 100%;
}
.list_shoes h2{
    font-size: 24px;
    font-weight: 600;
}
.list_shoes p{
    font-size: 16px;
}
.list_shoes h6{
    font-size: 24px;
}
.list_shoes .btn_list{
    background: black;
   width: 145px;
}
.shoe_bottom{
    margin-bottom: 50px;
}










#footer{
    margin-top: 130px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.input .submit{
    background-color: #FF136F;
    padding: 10px 15px;
    
}
.input input{
    padding: 10px 30px;
    border: none;
    font-size: 18px;
    color: aliceblue;
    
    
}
.footer{
    background: #ffdad8;
    
}
.footer{
    text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
    
    
    
}
.footer *{
    margin-bottom: 10px;
}











@media (max-width: 992px) {
    .main_content_body{
        flex-direction: column;
    }
   .product .list{
        width: 90%;
       
    }
    .shoes_item{
        
    }
}


@media (max-width: 808px) {
    
}
/* Large Mobile */
@media (max-width: 768px) {
    .product{
        flex-direction: column;
        align-items: center;
        
    }
    .product .list{
        width: 90%;
        justify-content: space-between;
        padding: 20px 30px;
    }
    .list_shoes{
        
    }
    
}

/* Small Mobile */
@media (max-width: 576px) {

    .shoes_item{
        flex-direction: column;
        align-items: center;
    }
     .header_container {
        flex-direction: row;
        justify-content: space-between;
    }
}















































































